*{
    padding: 0;
    border: 0;
    text-align: center;
}

body {
    background-color: rgb(193,216,240);
  }

#plan{
    display: block;
    width:70vw;
    height: auto;
    margin: auto;
}

.gantt_con{
    width: fit-content;
    height: fit-content;
    margin: auto;
    display: flex;
    align-items: flex-start
}

.q_label{
    text-align: left;
}

li{
    text-align: left;
    margin:auto;
    max-height: fit-content;
    width: 50vw;
}

#questionanswer{
    text-align: left;
    margin:auto;
    max-height: fit-content;
    width: 50vw;
    color: red;
}

.crc{
    display: block;
    margin: auto;
    width: 70%;
    height: auto;
    border-style: solid;
    border-width: 3px;
    border-color: black;

}

.arch{
    display: block;
    margin: auto;
    width: 70%;
    height: auto;
    border-style: solid;
    border-width: 3px;
    border-color: black;

}

.ghantt{
    display: block;
    margin: auto;
    width: 70%;
    height: auto;
    border-style: solid;
    border-width: 3px;
    border-color: black;

}

#codelinks{
    font-size: 30px;
}

#deliverablelink{
    font-size: 20px;
}

#button1{
    width: 250px;
    height: 40px;
    font-size: 20px;
    background-color: rgb(70,99,172);
    color: rgb(210,222,235);
    border-radius: 5px;
}
#button2{
    width: 300px;
    height: 40px;
}
#container{
    text-align: center;
}
